body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    max-width: 1440px;
    max-height: 80px;
    margin: 0 auto;
    background-color:#232536;
    margin-bottom: 30px;
}

.logo {
    display: inline-block;
    font-size: 50px;
    color:white;
    margin: 0;
    margin-top: 13px;
    margin-left: 20px;
}

.title {
    font-style: normal;
    color: #232536;
    max-width: 1282px;
    margin: 0 auto;
}

.main-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin: 0 auto;
}

.article-title {
    max-width: 1100px;
}

.line {
    opacity: 0.32;
    border: 1px solid #6D6E76;
    max-width: 1282px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.article {
    display: flex;
    max-width: 1282px;
    max-height: 318px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.article-content {
    margin: 10px 100px 10px 32px;
}

.article-teg{
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #592EA9;
}

a {
    color: #232536;
    text-decoration: none;
}
.article-title {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
}

.article-text {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.about_author {
    display: flex;
    max-width: 1440;
    padding-left: 50px;
    margin-bottom: 50px;
}

.author-wrp {
    margin-left: 30px;
}

.author-name {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 10px;
    color: #592EA9;
}

.date {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}

.author-photo {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.main-img {
    max-width: 1280px;
    margin: 0 80px 40px 80px;
}

.article-wrp {
    width: 1280;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    margin-bottom: 20px;
}

.btn {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color:#232536;
    text-transform: uppercase;
    margin-left: 80px;
    margin-bottom: 80px;
    cursor: pointer;
}
.btn a {
    color:white;
}

.chat-wrp {
    max-height: 410px;
    display: flex;
    margin-left: 10px;
}

.chat-input {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap:20px;
}

.form-name{
    margin-bottom: 20px;
}

.chat-btn {
    width: 100px;
    height: 54px;
    color: white;
    margin-left: 0;
    border-radius: 5px;
  }

.message {
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:10px;
    overflow-y: scroll;
}

.name-input {
    color:#592EA9;
}
